@page
@model CASPAR.Pages.Admin.Buildings.UpsertModel
@{
    Layout = "_LayoutAdministration";
    ViewData["Title"] = $"{(Model.Building.Id == 0 ? "Add" : "Edit")} Building";
}

<h1>@(Model.Building.Id == 0 ? "Add" : "Edit") Building</h1>

<form method="post" class="form">
    <fieldset class="form-fields">
        <div class="form-group">
            <label class="ms-2">Category</label>
            @Html.DropDownListFor(t =>
            t.Building.CampusId,
            Model.Campuses,
            "",
            new { @class = "" }
            )
            <span asp-validation-for="Building.CampusId" class="text-sm text-red-600"></span>
        </div>
        <div class="form-group">
            <label asp-for="Building.Name"></label>
            <input asp-for="Building.Name" />
            <span asp-validation-for="Building.Name" class="text-sm text-red-600"></span>
        </div>
    </fieldset>

    <div class="form-actions">
        @if (Model.Building.Id != 0)
        {
            <input asp-for="Building.Id" type="hidden" />
        }
        <a asp-area="" asp-page="Index" class="btn">Cancel</a>
        <button type="submit" class="btn btn-success icon-check">Save</button>
    </div>
</form>