@page
@{
    ViewData["Title"] = "About";
}

<section>
    <div class="mx-auto max-w-7xl px-4 pt-12 sm:px-6 md:px-12 lg:px-24 lg:pt-24">
        <h1 class="mb-8 text-4xl font-bold leading-none tracking-tighter text-neutral-600 md:text-7xl lg:text-5xl">About Us</h1>
        <span class="mb-8 text-md font-bold uppercase tracking-widest">Group 5</span>
        <hr />

        <!-- Natalie -->
        <div class="flex mx-auto mt-24 flex max-w-7xl flex-wrap items-center text-center reverse">
            <div class="mb-16 mx-2 mt-12 flex flex-col items-center text-center align-middle flex-grow">
                <span class="mb-8 text-xs font-bold uppercase tracking-widest text-blue-600"> Main Contributor </span>
                <h1 class="mb-2 text-3xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-5xl">Natalie Mueller</h1>
                <div class="gap-2 flex w-full flex-wrap text-left justify-center">
                    <a href="https://www.linkedin.com/in/natalie-mueller-54602b126/" target="_blank"><img width="42" height="42" src="~/img/about/LinkedIn.png" alt="LinkedIn" /></a>
                    <a href="https://github.com/wiznaibus/" target="_blank"><img width="42" height="42" src="~/img/about/GitHub.png" alt="GitHub" /></a>
                </div>
                <p class="my-8 text-left text-base leading-relaxed text-gray-500">I have the gene that makes cilantro taste like soap.</p>

                <div class="grid grid-cols-2 gap-8">
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Cereal</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🥣 Cinnamon Toast Crunch</p>
                    </div>
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Hobby</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🎮 Playing Video Games</p>
                    </div>
                </div>
            </div>
            <div class="rounded-xl w-1/2 sm:w-full max-w-lg" style="margin: auto;">
                <div class="w-full max-w-lg mb-16 text-center">
                    <img width="400px" class="mx-auto rounded-lg object-center shadow-2xl" alt="Natalie" src="~/img/about/natalie.jpg" />
                </div>
            </div>
        </div>

        <!-- Hayden -->
        <div class="flex mx-auto mt-24 flex max-w-7xl flex-wrap items-center">
            <div class="rounded-xl w-1/2 sm:w-full max-w-lg" style="margin: auto;">
                <div class="w-full max-w-lg mb-16">
                    <img width="400px" class="mx-auto rounded-lg object-center shadow-2xl" alt="Hayden" src="~/img/about/hayden.jpg" />
                </div>
            </div>
            <div class="mb-16 mx-2 mt-12 flex flex-col items-center text-center align-middle flex-grow">
                <span class="mb-8 text-xs font-bold uppercase tracking-widest text-blue-600"> Main Contributor </span>
                <h1 class="mb-2 text-3xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-5xl">Hayden Blackmer</h1>
                <div class="gap-2 flex w-full flex-wrap text-left justify-center">
                    <a href="https://www.linkedin.com/in/hayden-blackmer-2681b8237" target="_blank"><img width="42" height="42" src="~/img/about/LinkedIn.png" alt="LinkedIn" /></a>
                    <a href="https://github.com/6lackmer" target="_blank"><img width="42" height="42" src="~/img/about/GitHub.png" alt="GitHub" /></a>
                </div>
                <p class="my-8 text-left text-base leading-relaxed text-gray-500">I am a fifth-generation Idahoan, the previous four having been farmers.</p>

                <div class="grid grid-cols-2 gap-8">
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Cereal</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🥣 Cinnamon Toast Crunch</p>
                    </div>
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Hobby</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🚣‍♂️ White Water Kayaking</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Levi -->
        <div class="flex mx-auto mt-24 flex max-w-7xl flex-wrap items-center reverse">
            
            <div class="mb-16 mx-2 mt-12 flex flex-col items-center text-center align-middle flex-grow">
                <span class="mb-8 text-xs font-bold uppercase tracking-widest text-blue-600"> Main Contributor </span>
                <h1 class="mb-2 text-3xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-5xl">Levi Bernards</h1>
                <div class="gap-2 flex w-full flex-wrap text-center justify-center">
                    <a href="https://www.linkedin.com/in/levi-bernards/" target="_blank"><img width="42" height="42" src="~/img/about/LinkedIn.png" alt="LinkedIn" /></a>
                </div>
                <p class="my-8 text-left text-base leading-relaxed text-gray-500">I speak 3 languages fluently (English, Spanish, Kekchi).</p>

                <div class="grid grid-cols-2 gap-8">
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Cereal</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🥣 Cinnamon Toast Crunch</p>
                    </div>
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Hobby</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🧩 Building Puzzles</p>
                    </div>
                </div>
            </div>
            <div class="rounded-xl w-1/2 sm:w-full max-w-lg" style="margin: auto;">
                <div class="w-full max-w-lg mb-16">
                    <img width="400px" class="mx-auto rounded-lg object-center shadow-2xl" alt="Levi" src="~/img/about/levi.jpg" />
                </div>
            </div>
        </div>

        <!-- Elijah -->
        <div class="flex mx-auto mt-24 flex max-w-7xl flex-wrap items-center">
            <div class="rounded-xl w-1/2 sm:w-full max-w-lg" style="margin: auto;">
                <div class="w-full max-w-lg mb-16">
                    <img width="400px" class="mx-auto rounded-lg object-center shadow-2xl" alt="Elijah" src="~/img/about/elijah.jpg" />
                </div>
            </div>
            <div class="mb-16 mx-2 mt-12 flex flex-col items-center text-center align-middle flex-grow">
                <span class="mb-8 text-xs font-bold uppercase tracking-widest text-blue-600"> Main Contributor </span>
                <h1 class="mb-2 text-3xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-5xl">Elijah Cannon</h1>
                <div class="gap-2 flex w-full flex-wrap text-center justify-center">
                    <a href="https://www.linkedin.com/in/elijahcannon/" target="_blank"><img width="42" height="42" src="~/img/about/LinkedIn.png" alt="LinkedIn" /></a>
                    <a href="https://github.com/Cclayelijah" target="_blank"><img width="42" height="42" src="~/img/about/GitHub.png" alt="GitHub" /></a>
                </div>
                <p class="my-8 text-center text-base leading-relaxed text-gray-500">I own over 50 domain names.</p>

                <div class="grid grid-cols-2 gap-8 xs:grid-cols-1 text-center">
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Cereal</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🥣 Cinnamon Toast Crunch</p>
                    </div>
                    <div class="w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow dark:border-gray-700 dark:bg-gray-800">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Favorite Hobby</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">🎵 Listening to Music</p>
                    </div>
                </div>
                
            </div>
        </div>
        <h1 class="mb-8 text-4xl font-bold leading-none tracking-tighter text-neutral-600 md:text-7xl lg:text-5xl">Other Contributors</h1>
        <span class="mb-8 text-md font-bold uppercase tracking-widest">Bit By Bit</span>
        <hr />
        <div class="grid grid-cols-2 gap-8 xs:grid-cols-1 text-center my-8">
            <div class="w-full">
                <p class="font-normal">Sebastian Buxman</p>
                <p class="font-normal">Shanen Oleson</p>
                <p class="font-normal">Rashad Ramaileh</p>
            </div>
            <div class="w-full">
                <p class="font-normal">Ashton Chatelain</p>
                <p class="font-normal">Austin Wilson</p>
            </div>
        </div>
        <span class="mb-8 text-md font-bold uppercase tracking-widest">GoofedSoft</span>
        <hr />
        <div class="grid grid-cols-2 gap-8 xs:grid-cols-1 text-center my-8">
            <div class="w-full">
                <p class="font-normal">Joseph Brower</p>
                <p class="font-normal">Jaeden Fisher</p>
            </div>
            <div class="w-full">
                <p class="font-normal">Chris Jensen</p>
                <p class="font-normal">Brennen Vanderpool</p>
            </div>
        </div>
        <span class="mb-8 text-md font-bold uppercase tracking-widest">Graduates Pending</span>
        <hr />
        <div class="grid grid-cols-2 gap-8 xs:grid-cols-1 text-center my-8">
            <div class="w-full">
                <p class="font-normal">Christine Durtschi</p>
                <p class="font-normal">Lilith Eggleston</p>
            </div>
            <div class="w-full">
                <p class="font-normal">Joshua Harper</p>
                <p class="font-normal">Mitchell Shakespear</p>
            </div>
        </div>
        <span class="mb-8 text-md font-bold uppercase tracking-widest">Soup Bowls</span>
        <hr />
        <div class="grid grid-cols-2 gap-8 xs:grid-cols-1 text-center my-8">
            <div class="w-full">
                <p class="font-normal">Kati Barker</p>
                <p class="font-normal">Alexandrew Christensen</p>
            </div>
            <div class="w-full">
                <p class="font-normal">Abel Mkina</p>
                <p class="font-normal">Shel Plo Wah</p>
            </div>
        </div>
    </div>
</section>
