@page
@model CASPAR.Pages.Admin.IndexModel
@{
    Layout = "_LayoutAdministration";
    ViewData["Title"] = "Administration";
}

<h2>Administration</h2>
<p>This page will only be accessible by administrators. If the currently logged-in user is not an administrator, they will not see the Administration section in the navbar.</p>