@page
@model CASPAR.Pages.Admin.PayModels.IndexModel
@{
    Layout = "_LayoutAdministration";
    ViewData["Title"] = "Manage Pay Models";
}

<div class="flex flex-row justify-between mb-2">
    <h1>Manage Pay Models</h1>
    <a class="btn btn-primary" asp-area="" asp-page="Upsert">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        New Pay Model
    </a>
</div>

<table id="dataTable">
    <thead>
        <tr>
            <th>Pay Model</th>
            <th class="w-64">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payModel in Model.PayModels)
        {
            <tr>
                <td>@payModel.PayModelTitle</td>
                <td>
                    <form method="post">
                        @{
                            if (payModel.IsDisabled)
                            {
                                <button type="submit" class="btn btn-sm btn-error icon-check" asp-page-handler="lockUnlock" asp-route-id="@payModel.Id"> Enable</button>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-success icon-edit" asp-area="" asp-page="Upsert" asp-route-id="@payModel.Id">Edit</a>
                                <button type="submit" class="btn btn-sm btn-error icon-delete" asp-page-handler="lockUnlock" asp-route-id="@payModel.Id"> Disable</button>
                            }
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>