@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="hero">
    <div class="max-w-xl mt-8 mb-16 px-16 pt-14 pb-10 bg-neutral-100 rounded-lg">
        <form method="post">
            <h1 class="mb-6">Reset your password</h1>

            <div asp-validation-summary="ModelOnly" class="text-center text-red-600"></div>
            <input asp-for="Input.Code" type="hidden" />

            <div class="mb-4">
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-center text-red-600"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-center text-red-600"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-center text-red-600"></span>
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-secondary" asp-area="" asp-page="/Index">Cancel</a>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
