<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CASPAR</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dataTables.css" asp-append-version="true" />
</head>

<body class="flex flex-col min-h-screen">
    <partial name="_NavbarPartial" />

    <main role="main" class="flex-grow">
        @RenderBody()
    </main>

    <partial name="_FooterPartial" />

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>