@using Infrastructure.Models;
@using Microsoft.AspNetCore.Identity
@using Utility;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="flex gap-x-4">
    <div class="dropdown">
        <button class="dropdown-button hover:text-primary-content transition">
            <div class="flex gap-x-2 items-center">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="avatar">
                        <div class="h-10 rounded-full ring-1 ring-base-100">
                            <img src="~/img/avatar.jpeg" />
                        </div>
                    </div>
                    <div class="text-left">
                        <div class="font-bold">@user?.FirstName @user?.LastName</div>
                        <div class="text-base">@user?.Email</div>
                    </div>
                }
                else
                {
                    <div class="avatar">
                        <div class="h-10 rounded-full ring-1 ring-base-100">
                            <img src="~/img/account.png" />
                        </div>
                    </div>
                    <div class="text-left">
                        <div class="font-bold">Account</div>
                    </div>
                }
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="w-4 h-4 ml-1 mt-1 -mr-1" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>
        </button>
        <ul class="dropdown-menu navbar-menu menu right-0 hidden">
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole(SD.StudentRole))
                {
                    <li>
                        <a asp-area="" asp-page="/Student/Profile/Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd"
                                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
                                      clip-rule="evenodd" />
                            </svg>
                            Edit Profile
                        </a>
                    </li>
                }
                else if(User.IsInRole(SD.InstructorRole))
                {
                    <li>
                        <a asp-area="" asp-page="/Instructor/Profile/Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         class="w-5 h-5">
                                <path fill-rule="evenodd"
                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
                              clip-rule="evenodd" />
                            </svg>
                            Edit Profile
                        </a>
                    </li>
                }
                <li>
                    <a asp-page="/Account/ResetPassword" asp-area="Identity">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                             class="w-5 h-5">
                            <path fill-rule="evenodd"
                                  d="M7.84 1.804A1 1 0 018.82 1h2.36a1 1 0 01.98.804l.331 1.652a6.993 6.993 0 011.929 1.115l1.598-.54a1 1 0 011.186.447l1.18 2.044a1 1 0 01-.205 1.251l-1.267 1.113a7.047 7.047 0 010 2.228l1.267 1.113a1 1 0 01.206 1.25l-1.18 2.045a1 1 0 01-1.187.447l-1.598-.54a6.993 6.993 0 01-1.929 1.115l-.33 1.652a1 1 0 01-.98.804H8.82a1 1 0 01-.98-.804l-.331-1.652a6.993 6.993 0 01-1.929-1.115l-1.598.54a1 1 0 01-1.186-.447l-1.18-2.044a1 1 0 01.205-1.251l1.267-1.114a7.05 7.05 0 010-2.227L1.821 7.773a1 1 0 01-.206-1.25l1.18-2.045a1 1 0 011.187-.447l1.598.54A6.993 6.993 0 017.51 3.456l.33-1.652zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                  clip-rule="evenodd" />
                        </svg>
                        Reset Password
                    </a>
                </li>
                <li>
                    <form class="flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button class="w-full flex gap-2" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd"
                                      d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z"
                                      clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                      d="M6 10a.75.75 0 01.75-.75h9.546l-1.048-.943a.75.75 0 111.004-1.114l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 11-1.004-1.114l1.048-.943H6.75A.75.75 0 016 10z"
                                      clip-rule="evenodd" />
                            </svg>
                            Log out
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="Identity" asp-page="/Account/Login">
                        Login
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register">
                        Register
                    </a>
                </li>
            }
        </ul>
    </div>
</div>