@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&family=DM+Serif+Display:ital@0;1&family=Gloock&display=swap');

body {
    font-family: 'Assistant', 'Trebuchet MS', Calibri, sans-serif;
    @apply overflow-x-hidden overscroll-contain text-neutral-800 bg-neutral-50;
}

.title {
    font-family: 'Gloock', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
}

h1 {
    @apply text-4xl mb-1;
}

h2 {
    @apply text-3xl mb-1;
}

h3 {
    @apply text-2xl mb-1;
}

h4 {
    @apply text-xl mb-1;
}

h5 {
    @apply text-lg;
}

p {
    @apply mt-1 mb-3;
}

.btn {
    @apply text-base normal-case font-bold rounded-full border-0 px-6 py-3;
}

.btn-sm {
    @apply text-sm px-4 py-1;
}

.btn-text {
    @apply bg-transparent hover:bg-transparent px-3 py-3 rounded-none;
}
.btn-text:disabled {
    @apply bg-transparent;
}

.btn-nav {
    @apply text-left font-normal bg-transparent hover:bg-transparent px-3 py-3 rounded-none;
}

.icon-plus:before {
    content: url('../img/plus.svg');
    height: 20px;
    width: 20px;
}

.icon-minus:before {
    content: url('../img/minus.svg');
    height: 20px;
    width: 20px;
}

.icon-check:before {
    content: url('../img/check.svg');
    height: 20px;
    width: 20px;
}

.icon-x-mark:before {
    content: url('../img/x-mark.svg');
    height: 20px;
    width: 20px;
}

.icon-edit:before {
    content: url('../img/edit.svg');
    height: 20px;
    width: 20px;
}

.icon-delete:before {
    content: url('../img/delete.svg');
    height: 20px;
    width: 20px;
}

.icon-leaf:before {
    content: url('../img/leaf.svg');
    height: 20px;
    width: 20px;
}

.dropdown-menu {
    @apply absolute;
}

.navbar-menu {
    @apply mt-2 text-neutral bg-base-200 w-56 rounded-box;
}

.wave-background {
    background-image: url('data:image/svg+xml,<svg viewBox="2.404 2.419 951.862 395.999" xmlns="http://www.w3.org/2000/svg"><rect width="960" height="398.14" fill="%23581c87" x="-0.77" y="-0.027" transform="matrix(1, 0, 0, 1, 0, 7.105427357601002e-15)" /><path d="M -0.751 71.144 L 39.249 89.644 C 79.249 108.144 159.249 145.144 239.249 154.444 C 319.249 163.844 399.249 145.444 479.249 140.944 C 559.249 136.444 639.249 145.844 719.249 149.344 C 799.249 152.844 879.249 150.444 919.249 149.344 L 959.249 148.144 L 959.249 357.144 L 919.249 357.144 C 879.249 357.144 799.249 357.144 719.249 357.144 C 639.249 357.144 559.249 357.144 479.249 357.144 C 399.249 357.144 319.249 357.144 239.249 357.144 C 159.249 357.144 79.249 357.144 39.249 357.144 L -0.751 357.144 L -0.751 71.144 Z" fill="%231e3a8a" transform="matrix(1, 0, 0, 1, 0, 7.105427357601002e-15)" /><path d="M -0.916 169.488 L 39.084 171.188 C 79.084 172.788 159.084 176.188 239.084 172.688 C 319.084 169.188 399.084 158.788 479.084 165.988 C 559.084 173.188 639.084 197.788 719.084 212.688 C 799.084 227.488 879.084 232.488 919.084 234.988 L 959.084 237.488 L 959.084 392.488 L 919.084 392.488 C 879.084 392.488 799.084 392.488 719.084 392.488 C 639.084 392.488 559.084 392.488 479.084 392.488 C 399.084 392.488 319.084 392.488 239.084 392.488 C 159.084 392.488 79.084 392.488 39.084 392.488 L -0.916 392.488 L -0.916 169.488 Z" fill="%23353797" transform="matrix(1, 0, 0, 1, 0, 7.105427357601002e-15)" /><path d="M -0.948 303.699 L 39.052 302.499 C 79.052 301.399 159.052 298.999 239.052 286.199 C 319.052 273.399 399.052 249.999 479.052 233.499 C 559.052 216.999 639.052 207.399 719.052 219.399 C 799.052 231.399 879.052 264.999 919.052 281.899 L 959.052 298.699 L 959.052 388.699 L 919.052 388.699 C 879.052 388.699 799.052 388.699 719.052 388.699 C 639.052 388.699 559.052 388.699 479.052 388.699 C 399.052 388.699 319.052 388.699 239.052 388.699 C 159.052 388.699 79.052 388.699 39.052 388.699 L -0.948 388.699 L -0.948 303.699 Z" fill="%234f30a2" transform="matrix(1, 0, 0, 1, 0, 7.105427357601002e-15)" /><path d="M -0.7 275.74 L 39.3 289.309 C 79.3 302.994 159.3 330.132 239.3 337.492 C 319.3 344.737 399.3 332.087 479.3 320.818 C 559.3 309.433 639.3 299.544 719.3 295.289 C 799.3 291.034 879.3 292.644 919.3 293.334 L 959.3 294.139 L 959.3 398.784 L 919.3 398.784 C 879.3 398.784 799.3 398.784 719.3 398.784 C 639.3 398.784 559.3 398.784 479.3 398.784 C 399.3 398.784 319.3 398.784 239.3 398.784 C 159.3 398.784 79.3 398.784 39.3 398.784 L -0.7 398.784 L -0.7 275.74 Z" fill="%236b21a8" transform="matrix(1, 0, 0, 1, 0, 7.105427357601002e-15)" /></svg>');
}

.form {
    @apply max-w-3xl;
}

.form-fields {
    @apply grid grid-cols-2 gap-4;
}

.form-group {
    @apply flex flex-col mb-2;
}

.form-group-checkbox {
    @apply flex flex-row gap-2 items-center mb-2;
}

.form-actions {
    @apply flex flex-row gap-1 justify-end;
}

label {
    @apply text-sm text-neutral-800 font-semibold;
}

input, select, textarea {
    @apply h-10 my-1 px-3 py-2 border border-neutral-200 rounded-lg focus:border-purple-600 focus:ring focus:ring-purple-600 focus-visible:ring-purple-600 focus:ring-opacity-50;
}

.checkbox, .radio {
    @apply bg-white;
}

.invalid {
    @apply border border-red-500 focus:border-red-600 focus:ring focus:ring-red-600 focus-visible:ring-red-600 focus:ring-opacity-50;
}

.instructor-load {
    @apply grid items-center gap-2;
    grid-template-columns: 20px 1fr 1fr 20px;
}

@responsive {
    .course-full {
        grid-template-columns: 2fr 1fr 2fr 2fr 2fr 1fr 3fr 2fr 2fr;
    }
}

.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.reverse {
    flex-direction: column-reverse;
}

.caspar-icons {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    .caspar-icons {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {
    .reverse {
        flex-direction: row;
    }

    .caspar-icons {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}

@media (min-width: 1536px) {}

@keyframes mulShdSpin {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em #262626, 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.5), -1.8em -1.8em 0 0em rgba(38,38,38, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.7), 1.8em -1.8em 0 0em #262626, 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.5), 1.8em -1.8em 0 0em rgba(38,38,38, 0.7), 2.5em 0em 0 0em #262626, 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.5), 2.5em 0em 0 0em rgba(38,38,38, 0.7), 1.75em 1.75em 0 0em #262626, 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.5), 1.75em 1.75em 0 0em rgba(38,38,38, 0.7), 0em 2.5em 0 0em #262626, -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.5), 0em 2.5em 0 0em rgba(38,38,38, 0.7), -1.8em 1.8em 0 0em #262626, -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.5), -1.8em 1.8em 0 0em rgba(38,38,38, 0.7), -2.6em 0em 0 0em #262626, -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.5), -2.6em 0em 0 0em rgba(38,38,38, 0.7), -1.8em -1.8em 0 0em #262626;
    }
}
